@import "http://fonts.googleapis.com/css?family=Raleway";

body {
  font-family: "Raleway", sans-serif;
}

div {
  width: 350px;
  height: auto;
  margin: 50px auto 0;
  padding: 50px;
  background-color: #eee;
  color: #333;
  border-radius: 40px 0 40px 0;
}

h1 {
  text-align: center;
}

label {
  font-size: 15px;
  font-weight: 700;
}

input {
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
  width: 310px;
  height: 30px;
  font-size: 14px;
}

button {
  background-color: #66b8cc;
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494;
  margin-left: 120px;
}

button:hover {
  background-color: #252b7c;
  cursor: pointer;
}
