<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stories.css" />
    <title>Stories</title>
  </head>
  <body>
    <h1>Madlibs</h1>
    <div id="submit_form">
      <form action="">
        <label for="place">Place:</label>
        <input id="place" type="text" placeholder="enter place" name="place" />
        <label for="noun">Noun:</label>
        <input id="noun" type="text" placeholder="enter noun" name="noun" />
        <label for="verb">Verb:</label>
        <input id="verb" type="text" placeholder="enter verb" name="verb" />
        <label for="adj">Adjective:</label>
        <input id="adj" type="text" placeholder="enter adjective" name="adj" />
        <label for="p_noun">Plural_noun:</label>
        <input
          id="p_noun"
          type="text"
          placeholder="enter plural_noun"
          name="p_noun"
        />
        <button>Submit!</button>
      </form>
    </div>
  </body>
</html>
